@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 100%; }

body {
  background: #000050;
  background: radial-gradient(circle, #000050 0%, black 75%);
  color: #e9ecf4;
  font-family: 'Roboto', sans-serif; }

@media screen and (min-width: 320px) {
  .contenedor {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "nav" "titulo" "main" "seccion-1" "seccion-2" "footer"; }
    .contenedor .header, .contenedor .nav, .contenedor .titulo, .contenedor .main, .contenedor .seccion-1, .contenedor .seccion-2, .contenedor .footer {
      padding: 1.25rem;
      border-radius: 0.6rem; }
    .contenedor .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
  .header > div {
    width: 70%; }
  .logo {
    display: flex;
    justify-content: flex-start; }
  .tituloLogo {
    color: #ff8000;
    font-size: 1.2rem;
    line-height: 1rem; }
  .subTituloLogo {
    width: 150%;
    color: #e9ecf4;
    font-size: 0.75rem;
    line-height: 0; }
  .logo > a {
    text-decoration: none; }
  .iconos1 {
<<<<<<< HEAD
    font-size: 1.4rem;
=======
    font-size: 1.7rem;
>>>>>>> rama_ajustes
    color: #7e7e7e;
    display: flex;
    justify-content: flex-end; }
    .iconos1 :hover {
      color: #ff8000; }
  .contenedor .nav {
    padding: 0;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center; }
  .nav {
    z-index: 2; }
  .nav-item {
    width: 9.3rem;
    text-align: center; }
  /* enlaces del menu */
  .nav ul a {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem; }
  .nav ul li {
    position: relative;
    border-radius: 0.6rem; }
    .nav ul li:hover {
      background: #ff8000; }
  .nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -6px;
    padding: 0;
    list-style: none; }
  .contenedor .titulo {
    padding: 0;
    grid-area: titulo; }
  .titulo {
    height: auto; }
    .titulo .titulo1 {
      top: 0.3rem;
      left: 0.6rem;
      z-index: 2;
      position: absolute; }
      .titulo .titulo1 > h1 {
        font-size: 0.8rem; }
  #carouselExampleIndicators > .tamaño {
    top: auto; }
  .bordes {
    border-radius: 0.6rem; }
  span {
    color: #ff8000; }
  .contenedor .main {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: main; }
  .imagenMain {
    border-radius: 0.6rem; }
  .cuadroUno {
    padding: 2%;
    width: 96%;
    text-align: center; }
  .cuadroDos {
    padding: 3%; }
  .subTituloIndex {
    text-align: center;
    color: #ff8000;
    font-size: 1.4rem; }
  .parrafoIndex {
    font-size: 0.9rem;
    line-height: 1.5rem; }
  .contenedor .seccion-1 {
    border: 3px solid #ff8000;
    margin: 2%;
    grid-area: seccion-1; }
  .contenedor .seccion-2 {
    border: 0.2rem solid #ff8000;
    margin: 2%;
    grid-area: seccion-2; }
  .cuadroTres {
    height: auto;
    font-size: 0.8rem;
    padding: 2%;
    list-style-position: inside; }
    .cuadroTres > ol {
      padding: 0; }
  .contenedor .footer {
    background-color: #091224;
    display: flex;
    flex-direction: row;
    grid-area: footer; }
  .footer > div {
    width: 50%; }
  .info {
<<<<<<< HEAD
    font-size: 0.6rem;
=======
    font-size: 0.7rem;
>>>>>>> rama_ajustes
    display: flex;
    justify-content: flex-start; }
    .info > ul {
      list-style: none;
      padding: 0; }
  .iconos2 {
<<<<<<< HEAD
    font-size: 1,4rem;
=======
    font-size: 1.7rem;
>>>>>>> rama_ajustes
    color: #7e7e7e;
    display: flex;
    justify-content: flex-end; }
  i {
    margin-left: 1%; }
  .iconos2 :hover {
    color: #ff8000; }
  /* --------------------------------------------------------------------------------------------- */
  .contenedorAyuda {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "caja6" "footer"; }
    .contenedorAyuda .header, .contenedorAyuda .nav, .contenedorAyuda .titulo, .contenedorAyuda .caja1, .contenedorAyuda .caja2, .contenedorAyuda .caja3, .contenedorAyuda .caja4, .contenedorAyuda .caja5, .contenedorAyuda .caja6, .contenedorAyuda .footer {
      padding: 1.3rem;
      border-radius: 0.6rem; }
    .contenedorAyuda .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
    .contenedorAyuda .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorAyuda .titulo {
      padding: 0;
      grid-area: titulo; }
    .contenedorAyuda .caja1 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja1; }
  .caja1 > h2 {
    color: #ff8000;
    text-align: center;
    font-size: 1.3rem; }
  .caja1 > h3 {
    text-align: center;
    font-size: 0.9rem; }
  .contenedorAyuda .caja2 {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: caja2; }
  .contenedorAyuda .caja3 {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: caja3; }
  .contenedorAyuda .caja4 {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: caja4; }
  .contenedorAyuda .caja5 {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: caja5; }
  .contenedorAyuda .caja6 {
    border: 3px solid #ff8000;
    margin: 2%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: caja6; }
  .imagenes {
    border-radius: 0.6rem; }
  .textoTitulo {
<<<<<<< HEAD
    font-size: 1.15rem;
=======
    font-size: 1.2rem;
>>>>>>> rama_ajustes
    color: #ff8000;
    margin-bottom: 0.95rem;
    text-align: center; }
  .textoInfo {
    font-size: 0.9rem;
    margin-top: 0.95rem; }
  .contenedorAyuda .footer {
    background-color: #091224;
    display: flex;
    flex-direction: row;
    grid-area: footer; }
  /* --------------------------------------------------------------------------------------------- */
  .contenedorFases {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer"; }
    .contenedorFases .header, .contenedorFases .nav, .contenedorFases .titulo, .contenedorFases .caja1, .contenedorFases .caja2, .contenedorFases .caja3, .contenedorFases .caja4, .contenedorFases .caja5, .contenedorFases .footer {
      padding: 1.25rem;
      border-radius: 0.6rem; }
    .contenedorFases .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
    .contenedorFases .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorFases .titulo {
      padding: 0;
      grid-area: titulo; }
    .contenedorFases .caja1 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja1; }
    .contenedorFases .caja2 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja2; }
    .contenedorFases .caja3 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja3; }
    .contenedorFases .caja4 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja4; }
    .contenedorFases .caja5 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja5; }
    .contenedorFases .footer {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: footer; }
  /* --------------------------------------------------------------------------------------------- */
  .contenedorServicios {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "footer"; }
    .contenedorServicios .header, .contenedorServicios .nav, .contenedorServicios .titulo, .contenedorServicios .caja1, .contenedorServicios .caja2, .contenedorServicios .caja3, .contenedorServicios .caja4, .contenedorServicios .caja5, .contenedorServicios .footer {
      padding: 1.25rem;
      border-radius: 0.6rem; }
    .contenedorServicios .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
    .contenedorServicios .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorServicios .titulo {
      padding: 0;
      grid-area: titulo; }
    .contenedorServicios .caja1 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja1; }
    .contenedorServicios .caja2 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja2; }
    .contenedorServicios .caja3 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja3; }
    .contenedorServicios .caja4 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja4; }
    .contenedorServicios .tituloServicios {
      color: #ff8000; }
    .contenedorServicios .subTituloServicios {
      text-align: center; }
    .contenedorServicios section > div {
      background: #0000007a;
      width: 100%;
      border-radius: 10px;
      border: 2px solid #fff;
      margin: 5px 0;
      padding: 10px; }
    .contenedorServicios .footer {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: footer; }
  /* --------------------------------------------------------------------------------------------- */
  .contenedorTestimonios {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer"; }
    .contenedorTestimonios .header, .contenedorTestimonios .nav, .contenedorTestimonios .titulo, .contenedorTestimonios .caja1, .contenedorTestimonios .caja2, .contenedorTestimonios .caja3, .contenedorTestimonios .caja4, .contenedorTestimonios .caja5, .contenedorTestimonios .footer {
      padding: 1.25rem;
      border-radius: 0.6rem; }
    .contenedorTestimonios .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
    .contenedorTestimonios .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorTestimonios .titulo {
      padding: 0;
      grid-area: titulo; }
    .contenedorTestimonios .caja1 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja1; }
    .contenedorTestimonios .caja2 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja2; }
    .contenedorTestimonios .caja3 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja3; }
    .contenedorTestimonios .caja4 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja4; }
    .contenedorTestimonios .caja5 {
      border: 3px solid #ff8000;
      margin: 2%;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja5; }
    .contenedorTestimonios .footer {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: footer; }
  /* --------------------------------------------------------------------------------------------- */
  .contenedorContacto {
    width: 98%;
    margin: 20px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "footer"; }
    .contenedorContacto .header, .contenedorContacto .nav, .contenedorContacto .titulo, .contenedorContacto .caja1, .contenedorContacto .caja2, .contenedorContacto .footer {
      padding: 1.25rem;
      border-radius: 0.6rem; }
    .contenedorContacto .header {
      background-color: #091224;
      display: flex;
      flex-direction: row;
      grid-area: header; }
    .contenedorContacto .nav {
      grid-area: nav;
      display: flex;
      align-items: center;
      justify-content: center; }
    .contenedorContacto .titulo {
      padding: 0;
      grid-area: titulo; }
    .contenedorContacto .caja1 {
      border: 0.2rem solid #ff8000;
      margin: 2%;
      padding: 0.6rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-area: caja1; }
    .contenedorContacto .caja2 {
      border: 0.2rem solid #ff8000;
      margin: 2%;
      padding: 0.6rem;
      grid-area: caja2; }
  .contact {
    border: 0.2rem solid transparent;
    padding: 5%;
    border-radius: 0.6rem;
    text-align: center;
    display: flex;
    flex-direction: column; }
  .estiloLetras {
    margin-bottom: 1%; }
  .estiloInput {
    padding: 1%;
    border: 0.15rem solid #ff8000;
    border-radius: 0.6;
    background-color: #091224;
    transition: 0.5s; }
    .estiloInput:hover {
      box-shadow: 0 0 10px #ff8000, 0 0 40px #ff8000, 0 0 80px #ff8000; }
  .cajaBoton {
    color: #ff8000;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
  .boton {
    background: transparent;
    color: #e9ecf4;
    width: 30%;
    border: 0.2rem solid #ff8000;
    border-radius: 0.6rem;
    padding: 2%;
    font-size: 1rem; }
    .boton:hover {
      border: 0.2rem solid #ff8000;
      background: #ff8000; }
  .contenedorContacto .footer {
    background-color: #091224;
    display: flex;
    flex-direction: row;
    grid-area: footer; } }

@media (orientation: landscape) and (min-width: 321px) and (max-width: 640px) {
  .titulo {
    height: auto; }
    .titulo .titulo1 {
      top: 0.3rem;
      left: 0.6rem;
      z-index: 2;
      position: absolute; }
      .titulo .titulo1 > h1 {
        font-size: 1.5rem; }
  #carouselExampleIndicators > .tamaño {
    top: auto; } }

@media screen and (min-width: 641px) and (max-width: 768px) {
  /* Header */
  .contenedor {
    width: 98%;
    margin: 1.25rem auto;
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "nav" "titulo" "main" "seccion-1" "seccion-2" "footer"; }
  .logo > a > .tituloLogo {
    font-size: 1.25rem; }
  .logo > a > .subTituloLogo {
    font-size: 0.8rem; }
  .iconos1 {
<<<<<<< HEAD
    font-size: 1.9rem; }
=======
    font-size: 2rem; }
>>>>>>> rama_ajustes
  /* Header */
  /* Portada */
  .titulo {
    height: auto; }
    .titulo .titulo1 {
      top: 0.3rem;
      left: 1rem;
      z-index: 2;
      position: absolute; }
      .titulo .titulo1 > h1 {
        font-size: 1.9rem; }
  #carouselExampleIndicators > .tamaño {
    top: auto; }
  /* Portada */
  /* Main */
  .cuadroDos > p {
    font-size: 1.15rem;
    text-align: justify;
    line-height: 1.9rem;
    padding: 0.6rem; }
  /* Main */
  /* Section */
  .cuadroTres {
    border: none;
    list-style-position: inside; }
  .cuadroTres > p {
    font-size: 1.15rem;
    text-align: justify;
    line-height: 1.9rem; }
  .parrafoIndex {
    font-size: 1.15rem;
    text-align: justify;
    line-height: 2.5rem; }
  /* Section */
  /* Footer */
  .info {
    font-size: 0.9rem; }
  .iconos2 {
<<<<<<< HEAD
    font-size: 1.9rem; }
=======
    font-size: 2rem; }
>>>>>>> rama_ajustes
  /* Footer */ }

@media (orientation: landscape) and (min-width: 769px) and (max-width: 1024px) {
  .contenedor {
    width: 95%;
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header        header" "nav           nav" "titulo        titulo" "main          main" "seccion-1     seccion-2" "footer        footer"; }
  /* Header */
  .logo > a > .tituloLogo {
    font-size: 1.25rem; }
  .logo > a > .subTituloLogo {
    font-size: 0.8rem; }
  .iconos1 {
<<<<<<< HEAD
    font-size: 1.9rem; }
=======
    font-size: 2rem; }
>>>>>>> rama_ajustes
  /* Header */
  /* Navegación */
  .contenedor .nav {
    text-align: center;
    grid-area: nav; }
  .nav {
    width: 100%; }
    .nav ul {
      border: none; }
      .nav ul > li {
        margin: 0.15rem;
        width: 9.4rem;
        border: 0.15rem solid #ff8000; }
  ul li:hover > ul {
    display: none; }
  /* Navegación */
  /* Portada */
  .titulo {
    height: auto; }
    .titulo .titulo1 {
      top: 0.3rem;
      left: 0.9rem;
      z-index: 2;
      position: absolute; }
      .titulo .titulo1 > h1 {
        font-size: 2.3rem; }
  #carouselExampleIndicators > .tamaño {
    top: auto; }
  /* Portada */
  /* Main */
  .contenedor .main {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: main; }
  .cuadroUno {
    padding: 2%; }
  .cuadroDos {
    padding: 2%;
    text-align: justify;
    line-height: 1.9rem; }
  /* Main */
  /* Section */
  .contenedor .seccion-1 {
    margin: 0;
    grid-area: seccion-1; }
  .contenedor .seccion-2 {
    margin: 0;
    grid-area: seccion-2; }
  .cuadroTres {
    border: none;
    list-style-position: inside;
    font-size: 1rem; }
  .cuadroTres > p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.5rem; }
  /* Section */
  /* Footer */
  .info {
    font-size: 0.9rem; }
  .iconos2 {
<<<<<<< HEAD
    font-size: 1.9rem; }
=======
    font-size: 2rem; }
>>>>>>> rama_ajustes
  /* Footer */
  /* Secciones */
  /* Página Ayuda*/
  .contenedorAyuda {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "caja6" "footer"; }
    .contenedorAyuda .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorAyuda .caja1 {
      margin: 0;
      grid-area: caja1; }
  /* Cajas */
  .caja1 > h2 {
    font-size: 22px; }
  .caja1 > h3 {
    text-align: center;
    font-size: 18px; }
  .contenedorAyuda .caja2 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja2; }
  .contenedorAyuda .caja3 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja3; }
  .contenedorAyuda .caja4 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja4; }
  .contenedorAyuda .caja5 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja5; }
  .contenedorAyuda .caja6 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja6; }
  .scaleBox {
    transition: 3s; }
    .scaleBox:hover {
      transform: scale(1.05, 1.05); }
  .imagenes {
    border-radius: 10px;
    width: 240px;
    height: 160px; }
  .textoTitulo {
    font-size: 20px;
    color: #ff8000;
    margin-bottom: 15px;
    text-align: center; }
  .textoInfo {
    font-size: 16px;
    margin-top: 15px;
    line-height: 25px; }
  .cuadroDos .textoInfo {
    text-align: justify; }
  /* Cajas */
  /* Página Ayuda*/
  /* Página Fases*/
  .contenedorFases {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer"; }
    .contenedorFases .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorFases .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorFases .caja2 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja2; }
    .contenedorFases .caja3 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja3; }
    .contenedorFases .caja4 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja4; }
    .contenedorFases .caja5 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja5; }
  /* Página Fases*/
  /* Página Servicios*/
  .contenedorServicios {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "footer"; }
    .contenedorServicios .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorServicios .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorServicios .caja2 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja2; }
    .contenedorServicios .caja3 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja3; }
    .contenedorServicios .caja4 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja4; }
<<<<<<< HEAD
=======
    .contenedorServicios .subTituloServicios {
      color: #ff8000;
      margin-bottom: 0.95rem;
      text-align: center; }
>>>>>>> rama_ajustes
  /* Página Servicios*/
  /* Página Testimonios*/
  .contenedorTestimonios {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header         header" "nav            nav" "titulo         titulo" "caja1          caja1" "caja2          caja3" "caja4          caja5" "footer         footer"; }
    .contenedorTestimonios .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorTestimonios .caja1 {
      margin: 0;
      grid-area: caja1; }
  /* Cajas */
  .caja1 > h2 {
    font-size: 22px; }
  .caja1 > h3 {
    text-align: center;
    font-size: 18px; }
  .contenedorTestimonios .caja2 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja2; }
  .contenedorTestimonios .caja3 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja3; }
  .contenedorTestimonios .caja4 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja4; }
  .contenedorTestimonios .caja5 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja5; }
  /* Cajas */
  /* Página Testimonios*/
  /* Página Contacto*/
  .contenedorContacto {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "footer"; }
    .contenedorContacto .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorContacto .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorContacto .caja2 {
      width: 50%;
      margin: 0;
      padding: 10px;
      margin-left: 25%;
      grid-area: caja2; }
  /* Cajas contacto */
  .boton {
    background: transparent;
    transition: 0.5s; }
    .boton:hover {
      background: none;
      box-shadow: 0 0 10px #ff8000, 0 0 40px #ff8000, 0 0 80px #ff8000; }
  /* Cajas contacto */
  /* Página Contacto*/
  /* Secciones */ }

@media screen and (min-width: 1025px) {
  .contenedor {
    width: 95%;
    max-width: 87.5rem;
    display: grid;
    grid-gap: 0.6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header        header" "nav           nav" "titulo        titulo" "main          main" "seccion-1     seccion-2" "footer        footer"; }
  /* Header */
  .logo > a > .tituloLogo {
    font-size: 1.4rem; }
  .logo > a > .subTituloLogo {
    font-size: 0.9rem; }
  .tituloLogo {
    color: #ff8000;
    font-size: 1.25rem;
    line-height: 1.25rem; }
  .subTituloLogo {
    font-size: 0.8rem;
    line-height: 0; }
  .iconos1 {
    font-size: 1.9rem; }
  .scaleIcon {
    transition: 1s; }
    .scaleIcon:hover {
      transform: scale(1.3, 1.3); }
  /* Header */
  /* Navegación */
  .contenedor .nav {
    text-align: center;
    grid-area: nav; }
  .posicion {
    display: flex;
    justify-content: center; }
  .nav ul {
    width: 90%;
    border: none; }
    .nav ul > li {
      margin: 0 0.25rem;
      width: 150px;
      border: 2px solid #ff8000; }
    .nav ul li ul li {
      width: 9.4rem;
      border: 0.15rem solid #ff8000;
      margin-top: 5%; }
    .nav ul li:hover > ul {
      display: block; }
  /* Navegación */
  /* Portada */
  .titulo {
    height: auto; }
    .titulo .titulo1 {
      top: 0.3rem;
      left: 1rem;
      z-index: 2;
      position: absolute; }
      .titulo .titulo1 > h1 {
        font-size: 3.5rem; }
  #carouselExampleIndicators > .tamaño {
    top: auto; }
  /* Portada */
  /* Main */
  .contenedor .main {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: main; }
  .imagenMain {
    border-radius: 0.6rem; }
  .cuadroUno {
    padding: 2%;
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
  .cuadroDos {
    padding: 2%;
    width: 80%;
    text-align: justify;
    line-height: 1.5rem; }
  .parrafoIndex {
    font-size: 1rem;
    line-height: 2.5rem; }
  /* Main */
  /* Section */
  .contenedor .seccion-1 {
    margin: 0;
    grid-area: seccion-1; }
  .contenedor .seccion-2 {
    margin: 0;
    grid-area: seccion-2; }
  .cuadroTres {
    border: none;
    list-style-position: inside; }
  .cuadroTres > p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 2rem; }
  /* Section */
  /* Footer */
  .info {
    font-size: 0.8rem; }
  .iconos2 {
    font-size: 1.9rem;
    color: #7e7e7e; }
  /* Footer */
  /* --------------------------------------------------------------------------------------------- */
  /* Secciones */
  /* Página Ayuda*/
  .contenedorAyuda {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "caja6" "footer"; }
    .contenedorAyuda .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorAyuda .caja1 {
      margin: 0;
      grid-area: caja1; }
  /* Cajas */
  .caja1 > h2 {
    font-size: 22px; }
  .caja1 > h3 {
    text-align: center;
    font-size: 18px; }
  .contenedorAyuda .caja2 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja2; }
  .contenedorAyuda .caja3 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja3; }
  .contenedorAyuda .caja4 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja4; }
  .contenedorAyuda .caja5 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja5; }
  .contenedorAyuda .caja6 {
    border: 3px solid #ff8000;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    grid-area: caja6; }
  .scaleBox {
    transition: 3s; }
    .scaleBox:hover {
      transform: scale(1.05, 1.05); }
  .imagenes {
    border-radius: 10px;
    width: 240px;
    height: 160px; }
  .textoTitulo {
    font-size: 20px;
    color: #ff8000;
    margin-bottom: 15px;
    text-align: center; }
  .textoInfo {
    font-size: 16px;
    margin-top: 15px;
    line-height: 25px; }
  .cuadroDos .textoInfo {
    text-align: justify; }
  /* Cajas */
  /* Página Ayuda*/
  /* Página Fases*/
  .contenedorFases {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer"; }
    .contenedorFases .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorFases .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorFases .caja2 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja2; }
    .contenedorFases .caja3 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja3; }
    .contenedorFases .caja4 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja4; }
    .contenedorFases .caja5 {
      border: 3px solid #ff8000;
      margin: 0;
      padding: 10px;
      display: flex;
      flex-direction: row;
      grid-area: caja5; }
  /* Página Fases*/
  /* Página Servicios*/
  .contenedorServicios {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "footer"; }
    .contenedorServicios .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorServicios .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorServicios .caja2 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja2; }
    .contenedorServicios .caja3 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja3; }
    .contenedorServicios .caja4 {
      margin: 0;
      padding: 30px;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      grid-area: caja4; }
    .contenedorServicios .subTituloServicios {
      color: #ff8000;
      margin-bottom: 0.95rem;
      text-align: center; }
  /* Página Servicios*/
  /* Página Testimonios*/
  .contenedorTestimonios {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-template-areas: "header         header" "nav            nav" "titulo         titulo" "caja1          caja1" "caja2          caja3" "caja4          caja5" "footer         footer"; }
    .contenedorTestimonios .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorTestimonios .caja1 {
      margin: 0;
      grid-area: caja1; }
  /* Cajas */
  .caja1 > h2 {
    font-size: 22px; }
  .caja1 > h3 {
    text-align: center;
    font-size: 18px; }
  .contenedorTestimonios .caja2 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja2; }
  .contenedorTestimonios .caja3 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja3; }
  .contenedorTestimonios .caja4 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja4; }
  .contenedorTestimonios .caja5 {
    margin: 0;
    padding: 30px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: caja5; }
  /* Cajas */
  /* Página Testimonios*/
  /* Página Contacto*/
  .contenedorContacto {
    width: 95%;
    max-width: 1400px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "footer"; }
    .contenedorContacto .nav {
      padding: 0;
      text-align: center;
      grid-area: nav; }
    .contenedorContacto .caja1 {
      margin: 0;
      grid-area: caja1; }
    .contenedorContacto .caja2 {
      width: 50%;
      margin: 0;
      padding: 10px;
      margin-left: 25%;
      grid-area: caja2; }
  /* Cajas contacto */
  .boton {
    background: transparent;
    transition: 0.5s; }
    .boton:hover {
      background: none;
      box-shadow: 0 0 10px #ff8000, 0 0 40px #ff8000, 0 0 80px #ff8000; }
  /* Cajas contacto */
  /* Página Contacto*/
  /* Secciones */ }
