*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}

body{
    background: rgb(2,0,32);
    background: radial-gradient(circle, rgba(2,0,32,1) 0%, rgba(0,0,0,1) 100%);
    color:$colorLetras;
    font-family: 'Roboto', sans-serif;
}