*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}

body{
    background: rgb(0,0,80);
    background: radial-gradient(circle, rgba(0,0,80,1) 0%, rgba(0,0,0,1) 75%);
    color:$colorLetras;
    font-family: 'Roboto', sans-serif;
}