// Movil
@media screen and (min-width: 320px) {
	.contenedor {
		@include propiedadesContenedores;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: "header" "nav" "titulo" "main" "seccion-1" "seccion-2" "footer";
	
		.header, .nav, .titulo, .main, .seccion-1, .seccion-2, .footer {
			padding: 1.25rem;
			border-radius: 0.6rem;
		}
	
		.header {
			@include header-footer;
			grid-area: header;
		}
	}
  
	// Header
	.header > div {
		width: 70%;
	}
  
	.logo {
		display: flex;
		justify-content: flex-start;
	}
  
	.tituloLogo {
		color: $colorPrincipal;
		font-size: 1.2rem;
		line-height: 1rem;
	}
  
	.subTituloLogo {
		width: 150%;
		color: $colorLetras;
		font-size: 0.75rem;
		line-height: 0;
	}
  
	.logo > a {
		text-decoration: none;
	}
  
	.iconos1 {
		font-size: 1.4rem;
		font-size: 1.7rem;
		color: #7e7e7e;
		display: flex;
		justify-content: flex-end;
	
		:hover {
			color: $colorPrincipal;
		}
	}
	// Header
  
	// Navegación
	.contenedor .nav {
		padding: 0;
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: center;
	}
  
	.nav {
		z-index: 2;
	}
  
	.nav-item {
		width: 9.3rem;
		text-align: center;
	}
  
	/* enlaces del menu */
  
	.nav ul {
		a {
			font-size: 0.8rem;
			text-transform: uppercase;
			letter-spacing: 0.1rem;
		}
	
		li {
			position: relative;
			border-radius: 0.6rem;
	
			&:hover {
			background: $colorPrincipal;
			}
		}
	
		ul {
			display: none;
			position: absolute;
			top: 100%;
			left: -6px;
			padding: 0;
			list-style: none;
		}
	}
	// Navegación
  
	// Portada 
	.contenedor .titulo {
		padding: 0;
		grid-area: titulo;
	}

	.titulo {
		height: auto;

		.titulo1 {
			top: 0.3rem;
			left: 0.6rem;
			z-index: 2;
			position: absolute;
		
			> h1 {
				font-size: 0.8rem;
			}
		}
	}

	#carouselExampleIndicators > .tamaño {
		top: auto;
	}
  
	.bordes {
		border-radius: 0.6rem;
	}
  
	span {
		color: $colorPrincipal;
	}
	// Portada
  
	// Main
	.contenedor .main {
		@include cajas;
		grid-area: main;
	}
  
	.imagenMain {
		border-radius: 0.6rem;
	}
  
	.cuadroUno {
		padding: 2%;
		width: 96%;
		text-align: center;
	}
  
	.cuadroDos {
		padding: 3%;
	}
  
	.subTituloIndex {
		text-align: center;
		color: $colorPrincipal;
		font-size: 1.4rem;
	}
  
	.parrafoIndex {
		font-size: 0.9rem;
		line-height: 1.5rem;
	}
	// Main
  
	// Section
	.contenedor {
		.seccion-1 {
			border: 3px solid $colorPrincipal;
			margin: 2%;
			grid-area: seccion-1;
		}
	
		.seccion-2 {
			border: 0.2rem solid $colorPrincipal;
			margin: 2%;
			grid-area: seccion-2;
		}
	}
  
	.cuadroTres {
		height: auto;
		font-size: 0.8rem;
		padding: 2%;
		list-style-position: inside;
	
		> ol {
			padding: 0;
		}
	}
	// Section
  
	// Footer
	.contenedor .footer {
		@include header-footer;
		grid-area: footer;
	}
  
	.footer > div {
		width: 50%;
	}
  
	.info {
		font-size: 0.6rem;
		font-size: 0.7rem;
		display: flex;
		justify-content: flex-start;
	
		> ul {
			list-style: none;
			padding: 0;
		}
	}
  
	.iconos2 {
		font-size: 1,4rem;
		font-size: 1.7rem;
		color: #7e7e7e;
		display: flex;
		justify-content: flex-end;
	}
  
	i {
		margin-left: 1%;
	}
  
	.iconos2 :hover {
		color: $colorPrincipal;
	}
    // Footer

	/* --------------------------------------------------------------------------------------------- */

    // Página Ayuda
	.contenedorAyuda {
		@include propiedadesContenedores;
		grid-template-rows: repeat(10, auto);
		grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "caja6" "footer";
	
		.header, .nav, .titulo, .caja1, .caja2, .caja3, .caja4, .caja5, .caja6, .footer {
			padding: 1.3rem;
			border-radius: 0.6rem;
		}
	
		.header {
			@include header-footer;
			grid-area: header;
		}
	
		.nav {
			grid-area: nav;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	
		.titulo {
			padding: 0;
			grid-area: titulo;
		}
	
		.caja1 {
			@include cajas;
			grid-area: caja1;
		}
	}
  
	// Cajas
	.caja1 > {
		h2 {
			color: $colorPrincipal;
			text-align: center;
			font-size: 1.3rem;
		}
	
		h3 {
			text-align: center;
			font-size: 0.9rem;
		}
	}
  
	.contenedorAyuda {
		.caja2 {
			@include cajas;
			grid-area: caja2;
		}
	
		.caja3 {
			@include cajas;
			grid-area: caja3;
		}
	
		.caja4 {
			@include cajas;
			grid-area: caja4;
		}
	
		.caja5 {
			@include cajas;
			grid-area: caja5;
		}
	
		.caja6 {
			@include cajas;
			grid-area: caja6;
		}
	}
  
	.imagenes {
		border-radius: 0.6rem;
	}
  
	.textoTitulo {
		font-size: 1.15rem;
		font-size: 1.2rem;
		color: $colorPrincipal;
		margin-bottom: 0.95rem;
		text-align: center;
	}
  
	.textoInfo {
		font-size: 0.9rem;
		margin-top: 0.95rem;
	}
	// Cajas
  
	// Footer
	.contenedorAyuda .footer {
		@include header-footer;
		grid-area: footer;
	}
	// Footer
	// Página Ayuda
  
	/* --------------------------------------------------------------------------------------------- */

    // Página Fases
	.contenedorFases {
		@include propiedadesContenedores;
		grid-template-rows: repeat(9, auto);
		grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer";
	
		.header, .nav, .titulo, .caja1, .caja2, .caja3, .caja4, .caja5, .footer {
			padding: 1.25rem;
			border-radius: 0.6rem;
	  }
  
	  .header {
		@include header-footer;
		grid-area: header;
	  }
  
	  .nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
  
	  .titulo {
		padding: 0;
		grid-area: titulo;
	  }
  
	  .caja1 {
		@include cajas;
		grid-area: caja1;
	  }
  
	  .caja2 {
		@include cajas;
		grid-area: caja2;
	  }
  
	  .caja3 {
		@include cajas;
		grid-area: caja3;
	  }
  
	  .caja4 {
		@include cajas;
		grid-area: caja4;
	  }
  
	  .caja5 {
		@include cajas;
		grid-area: caja5;
	  }
  
	  .footer {
		@include header-footer;
		grid-area: footer;
	  }
	}
	// Página Fases
  
	/* --------------------------------------------------------------------------------------------- */
	
    // Página Servicios
	.contenedorServicios {
		@include propiedadesContenedores;
		grid-template-rows: repeat(8, auto);
		grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "footer";
	
		.header, .nav, .titulo, .caja1, .caja2, .caja3, .caja4, .caja5, .footer {
			padding: 1.25rem;
			border-radius: 0.6rem;
	  }
  
	  .header {
		@include header-footer;
		grid-area: header;
	  }
  
	  .nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
  
	  .titulo {
		padding: 0;
		grid-area: titulo;
	  }
  
	  .caja1 {
		@include cajas;
		grid-area: caja1;
	  }
  
	  .caja2 {
		@include cajas;
		grid-area: caja2;
	  }
  
	  .caja3 {
		@include cajas;
		grid-area: caja3;
	  }
  
	  .caja4 {
		@include cajas;
		grid-area: caja4;
	  }

	  .tituloServicios{
		  color: $colorPrincipal;
	  }
	  .subTituloServicios{
		  text-align: center;
	  }

	  section > div{
		  background: #0000007a;
		  width: 100%;
		  border-radius: 10px;
		  border: 2px solid #fff;
		  margin: 5px 0;
		  padding: 10px;
	  }
  
	  .footer {
		@include header-footer;
		grid-area: footer;
	  }
	}
	// Página Servicios */
  
	/* --------------------------------------------------------------------------------------------- */
	
    // Página Testimonios
	.contenedorTestimonios {
		@include propiedadesContenedores;
		grid-template-rows: repeat(9, auto);
		grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "caja3" "caja4" "caja5" "footer";
	
		.header, .nav, .titulo, .caja1, .caja2, .caja3, .caja4, .caja5, .footer {
			padding: 1.25rem;
			border-radius: 0.6rem;
	  }
  
	  .header {
		@include header-footer;
		grid-area: header;
	  }
  
	  .nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
  
	  .titulo {
		padding: 0;
		grid-area: titulo;
	  }
  
	  .caja1 {
		@include cajas;
		grid-area: caja1;
	  }
  
	  .caja2 {
		@include cajas;
		grid-area: caja2;
	  }
  
	  .caja3 {
		@include cajas;
		grid-area: caja3;
	  }
  
	  .caja4 {
		@include cajas;
		grid-area: caja4;
	  }
  
	  .caja5 {
		@include cajas;
		grid-area: caja5;
	  }
  
	  .footer {
		@include header-footer;
		grid-area: footer;
	  }
	}
	// Página Testimonios
  
	/* --------------------------------------------------------------------------------------------- */
	
    // Página Contacto
  
	.contenedorContacto {
		@include propiedadesContenedores;
		grid-template-rows: repeat(6, auto);
		grid-template-areas: "header" "nav" "titulo" "caja1" "caja2" "footer";
	
		.header, .nav, .titulo, .caja1, .caja2, .footer {
			padding: 1.25rem;
			border-radius: 0.6rem;
	  }
  
	  .header {
		@include header-footer;
		grid-area: header;
	  }
  
	  .nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: center;
	  }
  
	  .titulo {
		padding: 0;
		grid-area: titulo;
	  }
  
	  .caja1 {
		border: 0.2rem solid $colorPrincipal;
		margin: 2%;
		padding: 0.6rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		grid-area: caja1;
	  }
  
	  .caja2 {
		border: 0.2rem solid $colorPrincipal;
		margin: 2%;
		padding: 0.6rem;
		grid-area: caja2;
	  }
	}

	// Cajas contacto
	.contact {
	  border: 0.2rem solid transparent;
	  padding: 5%;
	  border-radius: 0.6rem;
	  text-align: center;
	  display: flex;
	  flex-direction: column;
	}
  
	.estiloLetras {
	  margin-bottom: 1%;
	}
  
	.estiloInput {
	  padding: 1%;
	  border: 0.15rem solid $colorPrincipal;
	  border-radius: 0.6;
	  background-color: $colorSecundario;
	  transition: 0.5s;
  
	  &:hover {
		box-shadow: 0 0 10px $colorPrincipal, 0 0 40px $colorPrincipal, 0 0 80px $colorPrincipal;
	  }
	}
  
	.cajaBoton {
	  color: $colorPrincipal;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-evenly;
	}
  
	.boton {
	  background: transparent;
	  color: $colorLetras;
	  width: 30%;
	  border: 0.2rem solid $colorPrincipal;
	  border-radius: 0.6rem;
	  padding: 2%;
	  font-size: 1rem;
  
	  &:hover {
		border: 0.2rem solid $colorPrincipal;
		background: $colorPrincipal;
	  }
	}
	// Cajas contacto
  
	// Footer
	.contenedorContacto .footer {
		@include header-footer;
	  grid-area: footer;
	}
	// Footer
    // Página Contacto
}
@media (orientation: landscape) and (min-width: 321px) and (max-width: 640px) {
	.titulo {
		height: auto;

		.titulo1 {
			top: 0.3rem;
			left: 0.6rem;
			z-index: 2;
			position: absolute;
		
			> h1 {
				font-size: 1.5rem;
			}
		}
	}

	#carouselExampleIndicators > .tamaño {
		top: auto;
	}
}
// Movil



// Tablet
@media screen and (min-width: 641px) and (max-width: 768px) {
	/* Header */
	.contenedor {
	  width: 98%;
	  margin: 1.25rem auto;
	  display: grid;
	  grid-gap: 0.6rem;
	  grid-template-columns: repeat(1, 1fr);
	  grid-template-rows: repeat(6, auto);
	  grid-template-areas: "header" "nav" "titulo" "main" "seccion-1" "seccion-2" "footer";
	}
  
	.logo {
	  > a {
		> {
			.tituloLogo {
				font-size: 1.25rem;
			}
		
			.subTituloLogo {
				font-size: 0.8rem;
			}
		}
	  }
	}
  
	.iconos1 {
	  font-size: 1.9rem;
	  font-size: 2rem;
	}
	/* Header */
  
	/* Portada */
	.titulo {
		height: auto;

		.titulo1 {
			top: 0.3rem;
			left: 1rem;
			z-index: 2;
			position: absolute;
		
			> h1 {
				font-size: 1.9rem;
			}
		}
	}

	#carouselExampleIndicators > .tamaño {
		top: auto;
	}
	/* Portada */

	/* Main */
	.cuadroDos > p {
		font-size: 1.15rem;
		text-align: justify;
		line-height: 1.9rem;
		padding: 0.6rem;
	}
	/* Main */
  
	/* Section */
	.cuadroTres {
		border: none;
		list-style-position: inside;
	}
  
	.cuadroTres > p {
		font-size: 1.15rem;
		text-align: justify;
		line-height: 1.9rem;
	}

	.parrafoIndex {
		font-size: 1.15rem;
		text-align: justify;
		line-height: 2.5rem;
	}
	/* Section */
  
	/* Footer */
	.info {
	  font-size: 0.9rem;
	}
  
	.iconos2 {
	  font-size: 1.9rem;
	  font-size: 2rem;
	}
	/* Footer */
}
@media (orientation: landscape) and (min-width: 769px) and (max-width: 1024px) {
	.contenedor {
	  width: 95%;
	  display: grid;
	  grid-gap: 0.6rem;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(6, auto);
	  grid-template-areas: "header        header" "nav           nav" "titulo        titulo" "main          main" "seccion-1     seccion-2" "footer        footer";
	}
  
	/* Header */
	.logo {
		> a {
		  > {
			  .tituloLogo {
				  font-size: 1.25rem;
			  }
		  
			  .subTituloLogo {
				  font-size: 0.8rem;
			  }
		  }
		}
	  }
	
	  .iconos1 {
		font-size: 1.9rem;
		font-size: 2rem;
	  }
	/* Header */
  
	/* Navegación */
	.contenedor .nav {
	  text-align: center;
	  grid-area: nav;
	}
  
	.nav {
		width: 100%;
		ul {
			border: none;
	
			> li {
			margin: 0.15rem;
			width: 9.4rem;
			border: 0.15rem solid $colorPrincipal;
			}
		}
	}

	ul li:hover > ul {
		display: none;
	}
	/* Navegación */
  
	/* Portada */
	.titulo {
		height: auto;

		.titulo1 {
			top: 0.3rem;
			left: 0.9rem;
			z-index: 2;
			position: absolute;
		
			> h1 {
				font-size: 2.3rem;
			}
		}
	}

	#carouselExampleIndicators > .tamaño {
		top: auto;
	}
	/* Portada */
  
	/* Main */
	.contenedor .main {
	  @include cajasDesktop;
	  grid-area: main;
	}
  
	.cuadroUno {
		padding: 2%;
	}
  
	.cuadroDos {
		padding: 2%;
		text-align: justify;
		line-height: 1.9rem;
	}
	/* Main */
  
	/* Section */
	.contenedor {
		.seccion-1 {
			margin: 0;
			grid-area: seccion-1;
		}
	
		.seccion-2 {
			margin: 0;
			grid-area: seccion-2;
		}
	}
  
	.cuadroTres {
		border: none;
		list-style-position: inside;
		font-size: 1rem;
	}
  
	.cuadroTres > p {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		line-height: 1.5rem;
	}
	/* Section */
  
	/* Footer */
	.info {
		font-size: 0.9rem;
	  }
	
	  .iconos2 {
		font-size: 1.9rem;
		font-size: 2rem;
	  }
	/* Footer */

	// ------------------------------------------------------------------------------------------------

	/* Secciones */
	@include seccionAyuda;
	@include seccionFases;
	@include seccionServicios;
	@include seccionTestimonios;
	@include seccionContacto;
	/* Secciones */
}
// Tablet



// Desktop
@media screen and (min-width: 1025px) {
	.contenedor {
		width: 95%;
		max-width: 87.5rem;
		display: grid;
		grid-gap: 0.6rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, auto);
		grid-template-areas: "header        header" "nav           nav" "titulo        titulo" "main          main" "seccion-1     seccion-2" "footer        footer";
	}
  
	/* Header */
	.logo > a > {
		.tituloLogo {
			font-size: 1.4rem;
		}
	
		.subTituloLogo {
			font-size: 0.9rem;
		}
	}
  
	.tituloLogo {
		color: $colorPrincipal;
		font-size: 1.25rem;
		line-height: 1.25rem;
	}
  
	.subTituloLogo {
		font-size: 0.8rem;
		line-height: 0;
	}
  
	.iconos1 {
		font-size: 1.9rem;
	}
  
	.scaleIcon {
		transition: 1s;
	
		&:hover {
			transform: scale(1.3, 1.3);
		}
	}
	/* Header */
  
	/* Navegación */
	.contenedor .nav {
		text-align: center;
		grid-area: nav;
	}
  
	.posicion {
		display: flex;
		justify-content: center;
	}
  
	.nav {
		ul {
			width: 90%;
			border: none;
	
			> li {
			margin: 0 0.25rem;
			width: 150px;
			border: 2px solid $colorPrincipal;
			}
	
			li {
			ul li {
				width: 9.4rem;
				border: 0.15rem solid $colorPrincipal;
				margin-top: 5%;
			}
	
			&:hover > ul {
				display: block;
			}
			}
		}
	}
	/* Navegación */
  
	/* Portada */
	.titulo {
		height: auto;

		.titulo1 {
			top: 0.3rem;
			left: 1rem;
			z-index: 2;
			position: absolute;
		
			> h1 {
				font-size: 3.5rem;
			}
		}
	}

	#carouselExampleIndicators > .tamaño {
		top: auto;
	}
	/* Portada */
  
	/* Main */
	.contenedor .main {
		@include cajasDesktop;
		grid-area: main;
	}
  
	.imagenMain {
		border-radius: 0.6rem;
	}
  
	.cuadroUno {
		padding: 2%;
		width: 20%;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}
  
	.cuadroDos {
		padding: 2%;
		width: 80%;
		text-align: justify;
		line-height: 1.5rem;
	}

	.parrafoIndex{
		font-size: 1rem;
		line-height: 2.5rem;
	}
	/* Main */
  
	/* Section */
	.contenedor {
		.seccion-1 {
			margin: 0;
			grid-area: seccion-1;
		}
	
		.seccion-2 {
			margin: 0;
			grid-area: seccion-2;
		}
	}
  
	.cuadroTres {
		border: none;
		list-style-position: inside;
	}
  
	.cuadroTres > p {
		font-size: 1rem;
		letter-spacing: 0.1rem;
		line-height: 2rem;
	}
	/* Section */
  
	/* Footer */
	.info {
		font-size: 0.8rem;
	}
  
	.iconos2 {
		font-size: 1.9rem;
		color: #7e7e7e;
	}
	/* Footer */
  
	/* --------------------------------------------------------------------------------------------- */
  
	/* Secciones */
	@include seccionAyuda;
	@include seccionFases;
	@include seccionServicios;
	@include seccionTestimonios;
	@include seccionContacto;
	/* Secciones */
}
// Desktop